.bg {

   background-image: url("Background.jpg");
   background-size: 100%;


}
.knight{
    height: 220px;
    margin-left: 80px;
    margin-top: 680px;
    position: absolute;
}



.zombi{

    height: 215px;
    margin-left: 1680px;
    margin-top: 680px ;
    transform: scalex(-1);
    position: absolute;

}

.b1{
    width: 400px;
    height: 60px;
    border: none;
    border-radius: 20px ;
    background-color:brown ;
    color: white;
    font-weight: bold;
    font-size: 30px;
    margin-top: 750px;
    margin-left: 730px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.b1:hover{

    background-color: red;
}

.name{
     
     font-family: Arial;
    font-size: 200px;
    font-weight: bold;
    margin-top: 150px;
    margin-left: 410px; 
    position: absolute;
    animation: pulse 2s infinite;

    

}

@keyframes pulse {
  0% { transform: scale(1); opacity: 1; }
  50% { transform: scale(1.1); opacity: 0.7; }
  100% { transform: scale(1); opacity: 1; }
}

.time{

    font-family: Arial;
    font-size: 80px;
    font-weight: bold;
    margin-top: 60px;
    margin-left: 480px; 
    position: absolute;

}


.score{


    font-family: Arial;
    font-size: 60px;
    font-weight: bold;
    margin-top: 240px;
    margin-left: 740px; 
    position: absolute;

}

